
// FOUR COLORED BUTTONS AT THE TOP

@mixin green_button {
	.green{
		background-color: $medium-green;
		border-color: $medium-green;
		font-family: $font-thin;
		font-size: 2rem;

		&:hover {
			background-color: darken($medium-green, 10%);
		}
	}
}

@mixin teal_button {
	.teal{
		background-color: $dark-teal;
		border-color: $dark-teal;
		font-family: $font-thin;
		font-size: 2rem;

		&:hover {
			background-color: darken($dark-teal, 10%);
		}
	}
}

@mixin purple_button {
	.purple {
		background-color: $purple;
		border-color: $purple;
		font-family: $font-thin;
		font-size: 2rem;

		&:hover {
			background-color: darken($purple, 10%);
				}
			}
}

@mixin hotpink_button {
	.pink {
		background-color: $hotpink;
		border-color: $hotpink;
		font-family: $font-thin;
		font-size: 2rem;

		&:hover {
			background-color: darken($hotpink, 10%);
		}
	}
}

// SEARCH BUTTON IN PINK NAV AREA
@mixin pink_search_button {
	input {
		width: 140px;
		font-family: $font-thin;
		display: inline;
		margin-right: 55px;
		border-radius: 50px;
		text-align: center;
		background: white image-url('img/search.gif') no-repeat 5px center;
	}
}