$primary-color: orange;

$font-stack: Impact, Charcoal, sans-serif;


// font stacks

$font-thin: Tahoma, Helvetica, sans-serif;
$font-fat: 'Corben', Times, serif;

// colors

$dull-pink: #F4CAD2;
$dark-teal: #76C7CD;
$light-teal: #B9E5E6;
$maroon: #6F0F49;
$light-green: #ECFAD3;
$medium-green: #8AB93A;
$purple: #71288B;
$hotpink: #EB008A;



