
// font stacks

$font-thin: Tahoma, Helvetica, sans-serif;
$font-fat: 'Corben', Times, serif;

// colors

$dull-pink: #F4CAD2;
$dark-teal: #75cbd1;
$medium-teal:   ;
$light-teal: #B9E5E6;
$maroon: #6F0F49;
$light-green: #ECFAD3;
$medium-green: #81ae28;
$purple: #642783;
$hotpink: #e80081;


// HEADERS

h1 {
  font-family: $font-fat;
}

h5 {
  font-family: $font-fat;
  color: $medium-green;
}

h4 {
	font-family: $font-thin;
	font-style: bold;
	color: blue;
}

h5 {
  
}

h6 {
		border-bottom: 2px solid darken(#EDF9D3, 50%);
	}


// $h1-font-size: em-calc(44);
$h2-font-size: em-calc(28);
$h3-font-size: em-calc(24);
$h4-font-size: em-calc(18);
$h5-font-size: em-calc(16);
// $h6-font-size: 1em;
