conditioninput
     
p
  <input type="radio" name="condition" id="new" value="new"/> 
  label(for="new") New 
p
  <input type="radio" name="condition" id="gently_used" value="gently_used"/>
  label(for="gently_used") Gently Used