seasoninput

// * Back in 4 column container. No sub containers at this point. *
p Season:
// * Radio buttons below. *
p
  <input type="radio" name="seasons" id="all"/>
  label(for="all") All Seasons
p
  <input type="radio" name="seasons" id="spring"/>
  label(for="spring") Spring
p
  <input type="radio" name="seasons" id="summer"/>
  label(for="summer") Summer
p
  <input type="radio" name="seasons" id="fall"/>
  label(for="fall") Fall
p
  <input type="radio" name="seasons" id="winter"/>
  label(for="winter") Winter

