typeinput

.type-container
  p Type:
  // * Radio buttons below. *
  p
    <input type="radio" name="type" id="any"/>
    label(for="any") Any
  p
    <input type="radio" name="type" id="one-piece"/>
    label(for="one-piece") One-piece
  p
    <input type="radio" name="type" id="tops"/>
    label(for="tops") Tops
  p
    <input type="radio" name="typp" id="bottoms"/>
    label(for="bottoms") Bottoms