doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied
    link(rel="stylesheet" href="/vendor/skeleton/css/skeleton.css")
    link(rel="stylesheet" href="/vendor/skeleton/css/normalize.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display:400,900" type='text/css')
    link(rel="stylesheet" href="css/main.css")

  body
    .header.u-full-width
      .header-content
        .header-signin
          ul.u-pull-right
            li sign in
            li sign up
        .header-main
          .row
            .five.columns.header-logo
              img(src="img/savings-multiplied-logo.png")
            .seven.columns.header-list
              ul
                li 
                  button.button-primary About
                li 
                  button.button-primary.green Contact
                li 
                  button.button-primary.purple Blog
                li 
                  button.button-primary.pink Press
                h5 where parents of multiples save, sell & share
    .nav-container
      ul
        li Buy
        li Sell
        li How it Works
        li Links
        li Community
        li
          input(type="text" placeholder="search")
    .content-container
      .row
        .seven.columns.left-container
          h5.content-header We're making one aspect of life easier for parents of multiples:
          .owl-content-container
            img.content-owl(src="img/owl_light_blue_32.png")
            p buying and selling gently used sets of clothes!
          a(href="search.html")
            img.u-pull-right.shop-now(src="img/shop_now.png")
          img.u-pull-right.tree(src="img/tree.png")
        .five.columns
          ul.baby-images
            li
              img(src="img/twins.jpg")
            li
              img(src="img/triplets.jpg")
            li
              img(src="img/quads.jpg")

      .dot-container
      .footer-container
        ul
          li
            img(src="img/facebook_footer.png")
          li
            img(src="img/twitter_footer.png")
          li
            img(src="img/message_board_footer.png")
          li
            img(src="img/special_offers_footer.png")
    .link-footer
      ul
        li Link Here
        li Link Here
        li Link Here
        li Link Here
        li Link Here
        li Link Here




    script(src="js/main.js")
