doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="/vendor/skeleton/css/skeleton.css")
    link(rel="stylesheet" href="/vendor/skeleton/css/normalize.css")
    link(rel="stylesheet" href="css/main.css")

  body
    .container
      .header
        .header-signin
          ul
            li sign in
            li sign up
        .header-main
          img(src="img/savings-multiplied-logo.png")
          ul
            li About
            li Contact
            li Blog
            li Press
          img(src="img/tagline.png")
      .nav-container
        ul
          li Buy
          li Sell
          li How it Works
          li Links
          li Community
        form
          input(type="text" placeholder="search")
      .content-container
        .row
          .seven.columns
            h2.content-header We're making one aspect of life easier for parents of multiples:
            img(src="img/owl_light_blue_32.png")
            p buying and selling gently used sets of clothes!
            img(src="img/shop_now.png")
            img(src="img/tree.png")
          .five.columns
            ul.baby-images
              li
                img(src="img/twins.jpg")
              li
                img(src="img/triplets.jpg")
              li
                img(src="img/quads.jpg")
  

    script(src="js/main.js")
