doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied
    link(rel="stylesheet" href="/vendor/skeleton/css/skeleton.css")
    link(rel="stylesheet" href="/vendor/skeleton/css/normalize.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display:400,900" type='text/css')
    link(rel="stylesheet" href="css/main.css")

  body
    .header.u-full-width
      .header-content
        .header-signin
          ul.u-pull-right
            li sign in
            li sign up
        .header-main
          .row
            .five.columns.header-logo
              img(src="img/savings-multiplied-logo.png")
            .seven.columns.header-list
              ul
                li 
                  button.button-primary About
                li 
                  button.button-primary.green Contact
                li 
                  button.button-primary.purple Blog
                li 
                  button.button-primary.pink Press
                h5 where parents of multiples save, sell & share
    .nav-container
      ul
        li Buy
        li Sell
        li How it Works
        li Links
        li Community
        li
          input(type="text" placeholder="search")
    .content-container
      .row
        .four.columns
          .filter-container
            h6 Limit your search by:
            input(type="text")
            button.button-primary.green Search
            .row
              .five.columns
                p Condition:
              .seven.columns  
                p
                  <input type="radio" name="condition" id="new" value="new"/> 
                  label(for="new") New
                p
                  <input type="radio" name="condition" id="gently_used" value="gently_used"/>
                  label(for="gently_used") Gently Used
            .size-container
              p Size:
              <input type="radio" name="size"/> 4
              <input type="radio" name="size"/> 5
              <input type="radio" name="size"/> 6
              <input type="radio" name="size"/> 7
              <input type="radio" name="size"/> 8
              <input type="radio" name="size"/> 9
              <input type="radio" name="size"/> 10
              <input type="radio" name="size"/> 11
            .season-container
              p Season:
              <input type="radio" name="seasons"/> All Seasons
              <input type="radio" name="seasons"/> Spring
              <input type="radio" name="seasons"/> Summer
              <input type="radio" name="seasons"/> Fall
              <input type="radio" name="seasons"/> Winter
            .type-container
              p Type:
              <input type="radio" name="type"/> Any
              <input type="radio" name="type"/> One-piece
              <input type="radio" name="type"/> Tops
              <input type="radio" name="type"/> Bottoms
            .brand-container
              p Brand:
              select
                option Jane and Jack
                option Other option
        .eight.columns
          .result-container
            h6.search-terms All > Twin > B/G 
            .sort-contaner
              p sort by:
              select
                option Price
                option Brand
                option Date
              ul.sort-list
                li pre.
                li page num.
                li next
                li view all 
            .sort-results
              ul.sortresulsts-list
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours

    .link-footer
      ul
        li Link Here
        li Link Here
        li Link Here
        li Link Here
        li Link Here
        li Link Here

    script(src="js/main.js")
