include ./partials/_heading

// * SEARCHPAGE CONTENT BEGINS HERE *

.content-container
  
  .row
    .four.columns
      .filter-container
        include ./partials/_searchfilter

        .row.condition-container
          .five.columns
            p Condition:
          .seven.columns.condition-labels 
            include ./partials/_conditioninput
    
        // * WARNING: USE CAUTION IF YOU TRY MAKING THIS SECTION INTO A PARTIAL! *    
        p.size-header Size:
          .row.size-container
            .five.columns
              // * Radio buttons below. *
              p
                <input type="radio" name="size" id="4"/>
                label(for="4") 4
              p
                <input type="radio" name="size" id="5"/>
                label(for="5") 5
              p
                <input type="radio" name="size" id="6"/>
                label(for="6") 6
              p
                <input type="radio" name="size" id="7"/>
                label(for="7") 7
                
            // * Nesting 7 columns in existing columns to create right side input of green container. *
            // * Note that these columns still add up to 12 columns within the four. *
            // * Second Set of Size Radio buttons below. *
            .seven.columns
              p
                <input type="radio" name="size" id="8"/>
                label(for="8") 8
              p
                <input type="radio" name="size" id="9"/>
                label(for="9") 9
              p
                <input type="radio" name="size" id="10"/>
                label(for="10") 10
              p
                <input type="radio" name="size" id="11"/>
                label(for="11") 11

        .season-container
          include ./partials/_seasoninput

          include ./partials/_typeinput

          include ./partials/_brandinput

    // Start of 8 columns that take the right side of the page. Background is white, moving away from green background in first 4 columns. *
    .eight.columns
      .result-container
        // Search result heading. No links as of now. *
        h6.search-terms All > Twin > B/G 
        .sort-container
          p sort by:
          select
            // * 3 option fromatted selection box. 
            option Price
            option Brand
            option Date
          // Sorted list on right hand side. *
          ul.sort-list
            li pre.
            li page num.
            li next
            li view all 
        .sort-results
          // * List of sort results. Max 5 x 5, but will scale with responsiveness. *
          ul.sortresulsts-list
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
             li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours

// FOOTER WITH LINKS 
include ./partials/_footer

    script(src="js/main.js")
